/* Palette based on https://coolors.co/171a21-617073-7a93ac-92bcea-afb3f7 */


body {
    background-color: #121212;
    font-family: sans-serif;
}

body h1 {
    color:white;
}

.content {
    max-width: 1200px;
    margin:auto;
}

/* Header Styling */
.header {
    text-align: left;
    font-size: 30px;
    display:flex;
    overflow: hidden;
    position: sticky;
    top: 0;
    background-color: #121212;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
    align-items: center;
}

.header h1 {
    color: #E0E1DD;
    font-size: 45px;
    max-height: 20px;
    letter-spacing: 2px;
}

.header h2 {
    color: #E0E1DD;
    font-size: 20px;
}

.title {
    flex: 1 1 0px;
}

.nav {
    flex: 1 1 0px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.nav a {
    padding: 5px 10px;
    text-decoration: none;
    font-size: 20px;
    color: #E0E1DD;
    text-align: center;
}

.nav a:hover {
    color: #7A93AC;
}

@media (max-width: 768px) {
    .body{
        align-items: center;
    }
    .header {
        align-items: center;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        position: relative;
    }
    
    .nav {
        
        justify-content: flex-start;
        width: 100%;
        margin-top: 10px;
    }
    
    .nav a {
        display: block;
        margin: 5px 0;
        font-size: 18px;
    }
    
    .header h1 {
        font-size: 22px;
        margin: 0;
        line-height: 1.1;
    }
    
    .header h2 {
        font-size: 12px;
        line-height: 1.2;
        margin: 4px 0 0 0;
    }

    .title{
        margin: 0;
        padding: 0;
    }
}






.profile {
    margin-top: 20px;
    height: 600px;
}

.profile-column {
    float: left;
    width: 50%;
    align-items: center;
    text-align: center;
}

.profile-column h1{
    color: #fff;
}

.profile-row:after {
    content: "";
    display: table;
    clear: both;
}



.section-description h1 {
    font-size: 32px;
}

.projects {
    justify-content:center;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 1rem;
}

.project-item {
    border-radius: 6px; /* curved edges */
    width: 560px;
    min-height: 400px;
    max-height: 500px;
    background-color: #232323;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    margin: 20px;
}

.project-media-container {
    object-fit: contain;
    align-items: center;
}

.project-media-container video {
    max-width: 100%;
}

.project-media-description {
    height: 200px;
    text-align: left;
    margin-left: 3%;
    overflow: hidden;
    color: #fff;
}

.project-media-description h1 {
    font-size: 25px;
    max-height: 15px;
}
