/* Palette based on https://coolors.co/171a21-617073-7a93ac-92bcea-afb3f7 */
html {
    scroll-behavior: smooth;
  }

body {
    background-color: #121212;
    font-family: sans-serif;
}

body h1 {
    color:white;
}

.content {
    max-width: 1200px;
    margin-left:auto;
    margin-right: auto;
    background-color: #121212;
}

.header {
    text-align: left;
    font-size: 30px;
    display:flex;
    overflow: hidden;
    position: sticky;
    top: 0;
    background-color: #121212;
    max-width: 1200px;
    align-items: center;
}

.header h1 {
    color: #E0E1DD;
    font-size: 45px;
    max-height: 20px;
    letter-spacing: 2px;
}

.header h2 {
    color: #E0E1DD;
    font-size: 20px;
}

.title {
    flex: 1 1 0px;
}

.nav {
    flex: 1 1 0px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.nav a {
    margin-top: auto;
    padding: 0px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #E0E1DD;
    vertical-align: text-bottom;
}

.nav a:hover {
    color: #7A93AC;
}

@media (max-width: 768px) {
    body{
        align-items: center;
    }
    .header {
        align-items: center;
        flex-direction: column;
        text-align: center;
        position: relative;
    }
    
    .nav {
        align-items: center;
    }
    
    .nav a{
        margin: 5px 0;
        font-size: 18px;
    }
    
    .header h1 {
        font-size: 22px;
        line-height: 1.1;
    }
    
    .header h2 {
        font-size: 18px;
        line-height: 1.2;
        margin: 4px 0 0 0;
    }

}

.profile {
    margin-top: 50px;
}

.profile h1 {
    font-size: 18px;
}
.profile-column {
    float: left;
    width: 50%;
    align-items: center;
    text-align: center;
}

.profile-column h1{
    
    color: #617073;
}

.profile-column p{
    color: #E6FAFC;
}
.profile-row:after {
    content: "";
    display: table;
    clear: both;
}

.avatar {
    vertical-align: middle;
    width: 60%;
    height: 60%;
    border-radius: 3%;
    margin-bottom: 10px;
}

.section-description h1 {
    text-align: left;
    font-size: 32px;
    padding: 0 20px;
    color:#ffffff;
    margin-top:10%;
}

.projects {
    justify-content:center;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.project-item {
    max-width: 560px;
    width: 90%;
    min-height: 400px;
    max-height: 600px;
    background-color: #232323;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    margin: 10px;
    margin-bottom: 20px;
}

.project-item:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}

.project-media-container {
    object-fit: contain;
    align-items: center;
    padding: 10px;
}

.project-media-container video, img, iframe {
    width: 100%;
    height: 300px;
}

.project-media-description {
    height: 250px;
    text-align: left;
    margin-left: 3%;
    margin-right: 3%;
    overflow: hidden;
    color: #fff;
}

.project-media-description h1 {
    font-size: 25px;
    max-height: 25px;
}

@media (max-width: 768px) {
    .project-media-description {
        padding: 10px;
        font-size: 16px;
    }

    .project-media-description h4 {
        font-size: 14px;
        line-height: 1.4;
    }
    .project-media-description h1 {
        font-size: 15px;
        line-height: 1.4;
    }
}


#experience, #education {
    margin-top: 40px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.experience-card, .education-card {
    background-color: #232323;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    margin-left: 10px;
    margin-right: 10px;
    color: #FF9FE5;
    align-items: center;
    text-align: center;
}

.experience-card:hover, .education-card:hover {
    transform: translateY(-5px);
}

.experience-card h1, .education-card h1 {
    font-size: 30px;
    color:#AFB3F7
}
.experience-card h2, .education-card h2 {
    font-size: 20px;
}

.experience-card p, .education-card p {
    font-size: 15px;
}

.experience-card ul, .education-card ul {
    padding-left: 20px;
}

.experience-card ul li, .education-card ul li {
    font-size: 18px;    
    color: #FFD4D4;
}


.footer {
    color: #FFD4D4;
    padding: 20px;
    text-align: center;
}

.footer form button {
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .profile-column {
        width: 100%;
        float: none;
    }

    .project-item {
        max-width: 100%;
        height: auto;
    }

    .project-media-description {
        height: auto;
    }
}