/* Palette based on https://coolors.co/171a21-617073-7a93ac-92bcea-afb3f7 */


body {
    background-color: #171A21;
}


body h1 {
    color:white;
  }

.content {
    max-width: 1200px;
    margin:auto;
}

/* Header Styling */
.header {
    text-align: left;
    font-size: 30px;
    display:flexbox;
    overflow: hidden;
    position: sticky;
    top: 0;
    background-color: #171A21;
    width: 1210px;
  }

.header h1 {
    color: #E0E1DD;
    font-size: 45px;
    max-height: 20px;
    font-family: sans-serif;
    letter-spacing: 2px;
}

.header h2 {
    color: #E0E1DD;
    font-size: 20px;
}

.title {
    float: left;
}

.nav {
    float: right;
    transform: translate(0%, 150%);
}

.nav a {
    padding: 0px 10px;
    text-decoration: none;
    font-size: 30px;
    color: #E0E1DD;
    text-align:center;
  }

.nav a:hover {
    color: #7A93AC; /* Softer hover color */
}


.profile {
    margin-top: 20px;
    background-color: #617073;
    height: 600px;
}

.section-description h1 {
    font-size: 32px;
}

.projects {
    justify-content:center;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 1rem;
}

.project-item {
    border-radius: 6px; /* curved edges */
    width: 580px;
    min-height: 400px;
    max-height: 500px;
    background-color: #232323;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    margin: 10px;
}

.project-media-container {
    object-fit: contain;
    align-items: center;
}

.project-media-container video {
    max-width: 100%;
}

.project-media-description {
    height: 200px;
    text-align: left;
    margin-left: 3%;
    overflow: hidden;
    color: #fff;
}

.project-media-description h1 {
    font-size: 25px;
    max-height: 15px;
}
